# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# JetBrains Rider
.idea/
*.sln.iml
*.idea

# Visual Studio Code
.vscode/
.history/

# NuGet
*.nupkg
*.snupkg
**/packages/*
*.nuget.props
*.nuget.targets

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Coverage reports
*.coverage
*.coveragexml
[Cc]overage[Rr]esults/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Benchmark Results
BenchmarkDotNet.Artifacts/
